.wrapper {
  width: 980px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
h1 {
  font-family: helvetica;
  font-size: 35pt;
  text-align: center;
  text-shadow: 1pt 2pt 2pt gray;
}
h2 {
  font-family: helvetica;
  font-size: 18pt;
  text-align: left;
}
h3 {
  font-family: helvetica;
  font-size: 30pt;
  text-align: center;
  text-shadow: 1pt 2pt 2pt gray;
}

.back {
  display: inline-block;
  border-style: solid;
  border-width: 1pt;
  border-color: rgb(100,100,100);
  margin: 6pt;
  width: 100pt;
  height: 100pt;
  text-shadow: 1pt 1pt 2pt black;
  background-color: gray;
}

.back img {
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
}

.box img {
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 800;
}


