body {
  background-color: rgb(26,28,32);
}

.wrapper {
  width: 810px;
  margin: 0 auto;
  text-align: center;
  position: static;
}
#container {
  position: relative;
  margin-left: 8pt;
}
h1 {
  font-family: 'Exo', sans-serif;
  font-size: 42pt;
  text-align: center;
  color: white;
}
h2 {
  font-family: 'Exo', sans-serif;
  color: white;
  display: inline-block;
  white-space: nowrap;
}
.back {
  display: inline-block;
  vertical-align: top;
  margin: 10pt;
  width: 100pt;
  height: 100pt;
  background-color: rgb(16,128,132);
}
.back img {
  position: relative;
  width: inherit;
  height: inherit;
  vertical-align: top;
  display: inline-block;
}